# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Data files
data/raw/
data/processed/
*.csv
*.xlsx

# Mac
.DS_Store

# dbt
dbt/food_etl/target/
dbt/food_etl/logs/
dbt/food_etl/.user.yml

# Airflow
airflow/logs/*
!airflow/logs/.gitkeep
airflow/*.db
airflow/*.cfg

# IDE
.vscode/
.idea/

# Logs
*.log
extract/logs/